
<h1>@Model["experience"].Title</h1>
<h2>Location: @Model["location"].Name</h2>
<h5>@Model["experience"].Description</h5>
<h5>@Model["experience"].Date</h5>

@foreach (var person in Model["people"])
{
    <li class="list-heading">
        <span class="li-heading">@person.Name</span>
    </li>
}


<p><a href="@Url.Action("Edit", new { id = Model["experience"].ExperienceId })">Or maybe you'd just like to edit it?  Update it a little?  Maybe?  Just a litte bit?  New fun fact?  Total overhaul?  Hmmm?</a></p>
<p><a href="@Url.Action("Delete", new { id = Model["experience"].ExperienceId })">Remove this person FOREVER. (This cannot be undone)</a></p>

<hr />
<p>@Html.ActionLink("Back to the root of experience.  The very essence of perception.", "Index")</p>