@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul>
    @foreach (var listItem in Model)
    {
        <li class="list-heading">
            <span class="li-heading">@listItem.Name</span>
            @Html.ActionLink("Details", "Details", new { id = listItem.LocationId })
            <ul>
                <li><strong>Description</strong>- @listItem.Description</li>
                <li><strong>Classification</strong>- @listItem.Classification</li>
            </ul>
        </li>
    }
</ul>

<p>@Html.ActionLink("Add NEW LOCATION", "Create")</p>